<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-9">
                <h1>Questions of {{ quizTitle }}</h1>
            </div>
            <div class="col-3">
                <div class="ml20 text-center">
                    <button mat-raised-button color="accent" [routerLink]="'/admin/add-question/'+quizId+'/'+quizTitle">Add Question</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bootstrap-wrapper"> 
    <div class="row">
        <div class="col-md-12">
            <mat-card *ngFor="let question of questions;let i=index" class="mt20">
                <mat-card-content>
                    <p><b>Q{{ i+1 }}.</b> <span class="ml10" [innerHtml]="question.content"></span></p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>a)</b> {{ question.option1 }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>b)</b> {{ question.option2 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>c)</b> {{ question.option3 }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>d)</b> {{ question.option4 }}</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <p class="mt10"><b>Correct Option :</b> {{ question.answer }}</p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="accent">Update</button>
                    <button mat-button color="accent" (click)="deleteQuestion(question.quesId)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>